h1 {
  color: #000000;
  font-family: 'Nunito', sans-serif;}

h2 {
  color: #000000;
  font-family: 'Nunito', sans-serif;}
}

p {
  color: rgb(150, 150, 150);
}

img {
  width: 50%;
  height: 50%;
}

.text-center {
  text-align: center;
}

.card {
  background: white;
  padding: 30px;
  border: 10px solid lightgrey;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.list-inline > li{
  display: inline-block;
  padding: 0px 20px;
}
